.card-list {
  width: 90%;
  margin: 0 auto;
  list-style: none;
  
  display: flex;
  flex-wrap: wrap;

  justify-content: space-evenly;
  h1{
    font-size:1.6rem;
    margin-top: 1em;
  }
  .btn{
      padding: .5em 2em;
      border-radius: 50px;
      background-color: #032541;
      border:none;
      text-transform: uppercase;
      color: #fff;
      &:last-child{
        margin-top: 1em;
      }
        &:not(last-child){
            margin-right: 1.5em;
        }
      &:hover{
            box-shadow: 4px 4px 50px #032541, 0px 0px 20px #032541, 0px 0px 20px #032541, 0px 0px 20px #032541;
      }
  }
}

