.navbar {
  background-color: #09020f;
  padding: 0.6em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    display: flex;
    list-style: none;
    justify-content: space-between;

    li {
      padding: 0.6em;

      &:hover {
        background-color: #09020f;
      }
    }
  }
}

.a {
  text-decoration: none;
  color: #fff;
}
